*{
  border: 1px solid red !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Raleway, sans-serif;
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: black;
}

.header > h2{
  margin-left: 20px;
}

.nav-bar{
  /*position:fixed;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;;
  color: white;
  background-color: black;
  box-shadow: 0 0 20px black;
  height: 70px;
  align-items: center;
  transition: all 2s;
  z-index: 2;
  width: 100%;
  position: fixed;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 20px;
}

.nav-menu > button{
  color: white;
  margin: 0 20px 0 20px;
  font-weight: bold;
  opacity: .8;
  font-size: 20px;
  background-color: transparent;
}

.nav-menu > button:hover{
  opacity: 1;
}

.main{
  display:flex;
  flex-direction: column;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  width: 100%;
  z-index: 1;
}
#home{
  background-image: url(https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/581545_10151604288997479_735358217_n.jpg?oh=8a161ec6ac54b53f9ede8a25d4642ef8&oe=58974441);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px;
  color: white;
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: black;
}
.button-menu{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.button-menu > a{
  color: white;
  margin: 5px;
  font-size: 30px;
}
